@font-face {
  font-family: "Calibre";
  font-display: swap;
  src: url("../fonts/Calibre-Light.woff2") format("woff2"), url("../fonts/Calibre-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  font-display: swap;
  src: url("../fonts/Calibre-Medium.woff2") format("woff2"), url("../fonts/Calibre-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  font-display: swap;
  src: url("../fonts/Calibre-Regular.woff2") format("woff2"), url("../fonts/Calibre-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  font-display: swap;
  src: url("../fonts/Calibre-Semibold.woff2") format("woff2"), url("../fonts/Calibre-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.menu-footer._init .menu-footer__title:before,
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before,
.menu-footer._init .menu-footer__title:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-double-arrow:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-linkedin:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-pdf:before {
  content: "\e906";
}

._icon-play:before {
  content: "\e907";
}

._icon-search:before {
  content: "\e908";
}

._icon-twitter:before {
  content: "\e909";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Calibre";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Calibre";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  background-color: #E5E5E5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1372px;
  margin: 0 auto;
  padding: 0 16px;
}

.section-header {
  border-bottom: 1px solid #000;
  padding: 0 0 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header__title {
  font-size: 40px;
  line-height: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section-header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border: 1px solid #000;
  border-radius: 40px;
  font-size: 20px;
  padding: 10px 30px;
  color: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-header__btn:before {
  font-size: 15px;
  margin-left: 20px;
}

.btn {
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._more-block {
  text-decoration: underline;
}

.slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #BFBFBF;
  color: #BFBFBF;
  width: 46px;
  height: 46px;
  font-size: 8px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-arrow:not(:last-child) {
  margin-right: 6px;
}

.slider-arrow_prev {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-arrow_next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  display: block;
  padding: 0px 20px;
  background: transparent;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
}

.header._scroll .header__wrapper {
  background-color: rgba(229, 229, 229, 0.88);
  border-bottom: none;
}

.header__wrapper {
  border-bottom: 1px solid #000;
  background-color: #E5E5E5;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.header__body {
  position: relative;
  min-height: 85px;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: min-height 0.5s ease 0s;
  -o-transition: min-height 0.5s ease 0s;
  transition: min-height 0.5s ease 0s;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__logo {
  position: relative;
  z-index: 1;
  display: block;
  margin-right: 28px;
}

.header__logo img {
  max-width: 100%;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__actions > *:not(:first-child) {
  margin-left: calc(15px + 13 * ((100vw - 320px) / 1120));
}

.header__login {
  position: relative;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__btn {
  position: relative;
  background-color: #000;
  color: #fff;
  padding: 15px 25px;
}

.header__lang .menu__sub-list {
  right: 0;
  left: auto;
  min-width: auto;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0;
}

.menu__item._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: auto;
}

.menu__item._active .menu__link,
.menu__item._active .menu__arrow {
  color: #0055B8;
}

.menu__link {
  color: #000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.menu__arrow {
  color: #000;
  font-size: 8px;
  margin: 0 0 0 8px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__arrow._active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__sub-list {
  position: relative;
  background-color: #1C68C0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__sub-item {
  padding: 0 10px 10px 10px;
}

.menu__sub-item:first-child {
  padding-top: 10px;
}

.menu__sub-link {
  color: #fff;
}

.search-form__btn {
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.search-form__item {
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -100%;
  top: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.search-form__item._active {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.search-form__icon {
  color: #000;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  border-top: 1px solid #000;
}

.footer__wrapper {
  display: -ms-grid;
  display: grid;
  padding-top: 60px;
  padding-bottom: 40px;
  grid-row-gap: 40px;
}

.footer__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__menu {
  padding-bottom: 40px;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 80px;
  padding-bottom: 80px;
}

.footer__content-column {
  border-top: 1px solid #000;
  padding-top: 16px;
}

.menu-footer {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
}

.menu-footer._init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  cursor: pointer;
}

.menu-footer._init .menu-footer__title:before {
  font-size: 8px;
  color: #000;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin: 0 0 0 8px;
}

.menu-footer._init .menu-footer__title._active:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-footer__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
  cursor: default;
}

.menu-footer__list li:not(:last-child) {
  margin-bottom: 3px;
}

.menu-footer__link {
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.contact-footer__title::before {
  color: #000;
  font-size: 8px;
  margin: 0 0 0 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-footer__body {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 16px;
  margin-bottom: 20px;
}

.contact-footer__phone {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.phone__title,
.address__title {
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 24px;
}

.phone__link {
  display: block;
  color: #000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.phone__link span {
  margin-left: 8px;
}

.regions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 24px;
  line-height: 133.3333333333%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.regions__item::before {
  color: #000;
  font-size: 8px;
  margin: 0 0 0 8px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe__title {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

.subscribe__text {
  margin-bottom: 10px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
}

.subscribe__input {
  font-size: 20px;
  line-height: 120%;
}

.subscribe__input::-webkit-input-placeholder {
  color: #000;
}

.subscribe__input::-moz-placeholder {
  color: #000;
}

.subscribe__input:-ms-input-placeholder {
  color: #000;
}

.subscribe__input::-ms-input-placeholder {
  color: #000;
}

.subscribe__input::placeholder {
  color: #000;
}

.subscribe__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45px;
          flex: 0 0 45px;
  height: 45px;
  color: #fff;
  background-color: #1C68C0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.subscribe__btn::before {
  font-size: 8px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom-footer__copy {
  position: relative;
  padding-left: 26px;
}

.bottom-footer__copy::before {
  content: "";
  background: url("../img/icons/copy.svg");
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  left: 0;
}

.menu-bottom__link {
  display: inline-block;
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu-bottom__link:not(:last-child) {
  padding-right: 30px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  color: #000;
  font-size: 20px;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.social__link:not(:last-child) {
  margin-right: 20px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 85px 0 0 0;
}

.hero__inner {
  margin-bottom: 65px;
}

.hero__content {
  padding-top: 175px;
  padding-bottom: 103px;
}

.hero__img {
  height: 560px;
}

.content-hero {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.content-hero__title {
  font-size: 96px;
  line-height: 85%;
}

.content-hero__text {
  font-size: 20px;
  line-height: 120%;
}

.nav-hero__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}

.nav-hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-hero__item {
  border-top: 1px solid #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-hero__item:first-child {
  border-right: 1px solid #000;
}

.nav-hero__link {
  position: relative;
  color: #000;
  font-size: 32px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.nav-hero__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 6px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.experience {
  padding-top: 90px;
  padding-bottom: 90px;
}

.experience__header {
  margin-bottom: 20px;
}

.experience__slider {
  min-width: 0;
}

.slider-experience__body {
  overflow: visible;
}

.slider-experience__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-experience__slide.swiper-slide-prev {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.slider-experience__num {
  font-size: 24px;
  line-height: 38px;
}

.slider-experience__img {
  display: block;
  height: 620px;
}

.slider-experience__content {
  padding-top: 88px;
  padding-left: 80px;
  max-width: 460px;
}

.slider-experience__title {
  font-size: 32px;
  line-height: 115.5%;
}

.slider-experience__title:not(:last-child) {
  margin-bottom: 24px;
}

.slider-experience__text {
  font-size: 18px;
}

.slider-experience__text:not(:last-child) {
  margin-bottom: 24px;
}

.slider-experience__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1C68C0;
  font-size: 22px;
  line-height: 26px;
}

.slider-experience__link:not(:last-child) {
  margin-bottom: 11px;
}

.slider-experience__link::before {
  font-size: 12px;
  margin: 0 0 0 9px;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.highlighted {
  padding-top: 90px;
  padding-bottom: 90px;
}

.highlighted__wrapper {
  background-color: #1C68C0;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 80px;
}

.highlighted__header {
  margin-bottom: 40px;
}

.highlighted__slider {
  min-width: 0;
}

.header-highlighted {
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}

.header-highlighted__title {
  font-size: 54px;
  line-height: 95.5%;
  color: #fff;
}

.slider-highlighted__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.slider-highlighted__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 30px;
}

.slider-highlighted__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  color: #000;
  padding: 8px 10px;
}

.slider-highlighted__date {
  color: #fff;
  margin-bottom: 26px;
}

.slider-highlighted__title {
  color: #fff;
  font-size: 32px;
  line-height: 95%;
}

.slider-highlighted__title:not(:last-child) {
  margin-bottom: 20px;
}

.slider-highlighted__text {
  color: #fff;
}

.slider-highlighted__text:not(:last-child) {
  margin-bottom: 40px;
}

.slider-highlighted__link {
  color: #fff;
  font-size: 24px;
  text-decoration: underline;
}

.slider-highlighted__img {
  position: relative;
  display: block;
  min-height: 407px;
}

.controls-slider-highlighted__arrows {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 16px;
}

.expertise {
  padding-top: 60px;
}

.expertise__header {
  margin-bottom: 86px;
}

.expertise__slider {
  min-width: 0;
}

.slider-expertise__inner {
  display: -ms-grid;
  display: grid;
}

.slider-expertise__img {
  min-height: 900px;
}

.slider-expertise__content {
  padding-top: 70px;
}

.slider-expertise__title {
  font-size: 96px;
  line-height: 80.5%;
}

.slider-expertise__title:not(:last-child) {
  margin-bottom: 30px;
}

.slider-expertise__text:not(:last-child) {
  margin-bottom: 30px;
}

.slider-expertise__btn,
.content-contact__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  background-color: #0055B8;
  color: #fff;
  font-size: 24px;
  padding: 15px 35px;
}

.news {
  padding-top: 80px;
  padding-bottom: 80px;
}

.news__header {
  margin-bottom: 77px;
}

.news__col {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.news__heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog__img {
  display: block;
  height: 382px;
}

.blog__img:not(:last-child) {
  margin-bottom: 35px;
}

.blog__title {
  display: block;
  color: #000;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 32px;
  max-width: 400px;
}

.blog__title:not(:last-child) {
  margin-bottom: 20px;
}

.blog__text {
  max-width: 400px;
}

.docs__item {
  margin-bottom: 10px;
  border-top: 1px solid #000;
  padding: 15px 0 20px;
}

.docs__link {
  max-width: 444px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  font-size: 20px;
  line-height: 1.45em;
}

.docs__link::before {
  margin-right: 10px;
}

.events__heading {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.events__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 380px;
  text-align: left;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.events__item::before {
  margin-right: 15px;
  background-color: #0055B8;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.training {
  padding-top: 100px;
  padding-bottom: 70px;
}

.training__header {
  margin-bottom: 20px;
}

.training__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.training__items {
  max-width: 900px;
}

.training__item {
  padding-top: 40px;
}

.training__item:not(:first-child) {
  border-top: 1px solid #000;
}

.item-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-training:not(:last-child) {
  padding-bottom: 100px;
}

.item-training__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.item-training__img._tr img {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.item-training__img img {
  max-width: 100%;
}

.item-training__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  margin-left: 100px;
}

.item-training__num {
  padding-bottom: 25px;
}

.item-training__title {
  font-size: 32px;
}

.item-training__title:not(:last-child) {
  margin-bottom: 20px;
}

.contact__content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.content-contact {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}

.content-contact__title {
  font-size: 72px;
  line-height: 85%;
}

.content-contact__title:not(:last-of-type) {
  margin-bottom: 11px;
}

.content-contact__text {
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 24px;
}

.nav-contact__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}

.nav-contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-contact__item {
  border-top: 1px solid #000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-contact__item:first-child {
  border-right: 1px solid #000;
}

.nav-contact__link {
  position: relative;
  color: #000;
  font-size: 32px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.nav-contact__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 6px;
  left: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

@media (min-width: 479.98px) {
  .header._scroll .header__body {
    min-height: 60px;
  }

  .header__lang .menu__sub-list {
    position: absolute;
    top: 100%;
  }

  .content-hero__title:not(:last-of-type) {
    margin-bottom: 0.5729166667em;
  }

  .item-training__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
    max-width: 150px;
  }

  .item-training__num {
    display: none;
  }
}

@media (min-width: 767.98px) {
  .header__actions {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 350px;
            flex: 0 1 350px;
  }

  .menu-footer {
    -ms-grid-columns: (auto)[6];
    grid-template-columns: repeat(6, auto);
  }

  .contact-footer__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 991.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .menu__sub-list {
    position: absolute;
    min-width: 150px;
    z-index: 1;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    pointer-events: none;
  }

  .search-form__item {
    max-width: 350px;
  }

  .footer__wrapper {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
    grid-column-gap: 28px;
  }

  .footer__content {
    -ms-grid-columns: 8fr 7fr;
    grid-template-columns: 8fr 7fr;
  }

  .contact-footer__body {
    -ms-grid-columns: 3fr 2fr;
    grid-template-columns: 3fr 2fr;
  }

  .slider-experience__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slider-experience__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .slider-highlighted__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .slider-highlighted__content {
    padding-right: 60px;
  }

  .slider-highlighted__btn {
    margin-bottom: 40px;
  }

  .slider-highlighted__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 526px;
            flex: 0 0 526px;
  }

  .slider-expertise__inner {
    max-height: 100vh;
    -ms-grid-columns: 400px auto;
    grid-template-columns: 400px auto;
    grid-auto-flow: dense;
    grid-column-gap: 100px;
  }

  .slider-expertise__img {
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .slider-expertise__content {
    -ms-grid-column: 1;
    grid-column: 1;
  }

  .news__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .blog__content {
    padding-right: 100px;
  }
}

@media (min-width: 1384px) {
  .footer__wrapper {
    grid-column-gap: 96px;
  }

  .footer__content-column {
    padding-right: 80px;
  }

  .menu-footer {
    padding-right: 20px;
  }

  .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .bottom-footer__item:not(:first-child) {
    margin-right: 87px;
  }

  .slider-highlighted__content {
    padding-right: 300px;
  }
}

@media (max-width: 1384px) {
  .contact-footer__body {
    grid-column-gap: 40px;
  }

  .bottom-footer__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1384px) and (max-width: 1372px) {
  .contact-footer__body {
    grid-column-gap: calc(20px + 20 * ((100vw - 320px) / 1052));
  }
}

@media (max-width: 1372px) {
  body {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1052));
  }

  .section-header__title {
    font-size: calc(28px + 12 * ((100vw - 320px) / 1052));
  }

  .section-header__title {
    line-height: calc(28px + 12 * ((100vw - 320px) / 1052));
  }

  .header__logo {
    margin-right: calc(8px + 20 * ((100vw - 320px) / 1052));
  }

  .footer__wrapper {
    padding-top: calc(40px + 20 * ((100vw - 320px) / 1052));
  }

  .footer__wrapper {
    padding-bottom: calc(40px + 0 * ((100vw - 320px) / 1052));
  }

  .footer__wrapper {
    grid-row-gap: calc(40px + 0 * ((100vw - 320px) / 1052));
  }

  .footer__menu {
    padding-bottom: calc(40px + 0 * ((100vw - 320px) / 1052));
  }

  .footer__content {
    grid-row-gap: calc(40px + 0 * ((100vw - 320px) / 1052));
  }

  .footer__content {
    grid-column-gap: calc(10px + 70 * ((100vw - 320px) / 1052));
  }

  .footer__content {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 1052));
  }

  .menu-footer {
    grid-column-gap: calc(20px + 8 * ((100vw - 320px) / 1052));
  }

  .menu-footer {
    grid-row-gap: calc(1px + 27 * ((100vw - 320px) / 1052));
  }

  .menu-footer__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .menu-footer__title {
    line-height: calc(24px + 5 * ((100vw - 320px) / 1052));
  }

  .menu-footer__title {
    margin-bottom: calc(10px + 8 * ((100vw - 320px) / 1052));
  }

  .contact-footer__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .contact-footer__title {
    line-height: calc(24px + 5 * ((100vw - 320px) / 1052));
  }

  .contact-footer__title {
    margin-bottom: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .contact-footer__body {
    margin-bottom: calc(16px + 4 * ((100vw - 320px) / 1052));
  }

  .regions__item {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .subscribe__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .subscribe__title {
    line-height: calc(24px + 5 * ((100vw - 320px) / 1052));
  }

  .subscribe__title {
    margin-bottom: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .menu-bottom__link:not(:last-child) {
    padding-right: calc(16px + 14 * ((100vw - 320px) / 1052));
  }

  .social__link {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1052));
  }

  .hero__inner {
    margin-bottom: calc(20px + 45 * ((100vw - 320px) / 1052));
  }

  .hero__content {
    padding-top: calc(79px + 96 * ((100vw - 320px) / 1052));
  }

  .hero__content {
    padding-bottom: calc(67px + 36 * ((100vw - 320px) / 1052));
  }

  .hero__img {
    height: calc(360px + 200 * ((100vw - 320px) / 1052));
  }

  .content-hero__title {
    font-size: calc(40px + 56 * ((100vw - 320px) / 1052));
  }

  .nav-hero__item {
    padding-top: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .nav-hero__item {
    padding-bottom: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .nav-hero__item {
    padding-left: calc(5px + 25 * ((100vw - 320px) / 1052));
  }

  .nav-hero__item {
    padding-right: calc(5px + 25 * ((100vw - 320px) / 1052));
  }

  .nav-hero__link {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }

  .experience {
    padding-top: calc(50px + 40 * ((100vw - 320px) / 1052));
  }

  .experience {
    padding-bottom: calc(50px + 40 * ((100vw - 320px) / 1052));
  }

  .slider-experience__num {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1052));
  }

  .slider-experience__img {
    height: calc(185px + 435 * ((100vw - 320px) / 1052));
  }

  .slider-experience__content {
    padding-top: calc(24px + 64 * ((100vw - 320px) / 1052));
  }

  .slider-experience__content {
    padding-left: calc(0px + 80 * ((100vw - 320px) / 1052));
  }

  .slider-experience__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }

  .slider-experience__title:not(:last-child) {
    margin-bottom: calc(16px + 8 * ((100vw - 320px) / 1052));
  }

  .slider-experience__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1052));
  }

  .slider-experience__text:not(:last-child) {
    margin-bottom: calc(18px + 6 * ((100vw - 320px) / 1052));
  }

  .slider-experience__link {
    font-size: calc(18px + 4 * ((100vw - 320px) / 1052));
  }

  .slider-experience__link {
    line-height: calc(22px + 4 * ((100vw - 320px) / 1052));
  }

  .highlighted {
    padding-top: calc(0px + 90 * ((100vw - 320px) / 1052));
  }

  .highlighted {
    padding-bottom: calc(0px + 90 * ((100vw - 320px) / 1052));
  }

  .highlighted__wrapper {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1052));
  }

  .highlighted__wrapper {
    padding-bottom: calc(30px + 40 * ((100vw - 320px) / 1052));
  }

  .highlighted__wrapper {
    padding-left: calc(16px + 34 * ((100vw - 320px) / 1052));
  }

  .highlighted__wrapper {
    padding-right: calc(16px + 64 * ((100vw - 320px) / 1052));
  }

  .highlighted__header {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1052));
  }

  .header-highlighted__title {
    font-size: calc(40px + 14 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__content {
    padding-top: calc(18px + 12 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__date {
    margin-bottom: calc(10px + 16 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__title:not(:last-child) {
    margin-bottom: calc(12px + 8 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__text:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__link {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__img {
    min-height: calc(164px + 243 * ((100vw - 320px) / 1052));
  }

  .controls-slider-highlighted__arrows {
    margin-top: calc(13px + 3 * ((100vw - 320px) / 1052));
  }

  .expertise {
    padding-top: calc(30px + 30 * ((100vw - 320px) / 1052));
  }

  .expertise__header {
    margin-bottom: calc(20px + 66 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__img {
    min-height: calc(300px + 600 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__content {
    padding-top: calc(30px + 40 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__title {
    font-size: calc(40px + 56 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__title:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__text:not(:last-child) {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__btn,
  .content-contact__btn {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .news {
    padding-top: calc(30px + 50 * ((100vw - 320px) / 1052));
  }

  .news {
    padding-bottom: calc(30px + 50 * ((100vw - 320px) / 1052));
  }

  .news__header {
    margin-bottom: calc(20px + 57 * ((100vw - 320px) / 1052));
  }

  .blog__img {
    height: calc(180px + 202 * ((100vw - 320px) / 1052));
  }

  .blog__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }

  .docs__link {
    font-size: calc(18px + 2 * ((100vw - 320px) / 1052));
  }

  .training {
    padding-top: calc(40px + 60 * ((100vw - 320px) / 1052));
  }

  .training {
    padding-bottom: calc(40px + 30 * ((100vw - 320px) / 1052));
  }

  .training__item {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1052));
  }

  .item-training:not(:last-child) {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1052));
  }

  .item-training__content {
    margin-left: calc(20px + 80 * ((100vw - 320px) / 1052));
  }

  .item-training__num {
    padding-bottom: calc(15px + 10 * ((100vw - 320px) / 1052));
  }

  .item-training__title {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }

  .item-training__title:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 1052));
  }

  .contact__content {
    padding-top: calc(60px + 40 * ((100vw - 320px) / 1052));
  }

  .contact__content {
    padding-bottom: calc(60px + 40 * ((100vw - 320px) / 1052));
  }

  .content-contact__title {
    font-size: calc(40px + 32 * ((100vw - 320px) / 1052));
  }

  .nav-contact__item {
    padding-top: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .nav-contact__item {
    padding-bottom: calc(20px + 4 * ((100vw - 320px) / 1052));
  }

  .nav-contact__item {
    padding-left: calc(5px + 25 * ((100vw - 320px) / 1052));
  }

  .nav-contact__item {
    padding-right: calc(5px + 25 * ((100vw - 320px) / 1052));
  }

  .nav-contact__link {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1052));
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: #E5E5E5;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
    padding: 100px 16px 16px;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: -100%;
    z-index: 2;
    background-color: #E5E5E5;
    border-bottom: 1px solid #000;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 26px;
    height: 8px;
    cursor: pointer;
    z-index: 5;
    margin-left: calc(15px + 13 * ((100vw - 320px) / 1120));
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__content-column:last-child {
    border-top: none;
    padding-top: 0px;
  }

  .regions__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid #000;
    padding: 8px 0;
  }

  .regions__item:last-child {
    border-bottom: 1px solid #000;
  }

  .bottom-footer__menu {
    margin: 0 0 -5px 0;
  }

  .menu-bottom__link {
    padding-bottom: 5px;
  }

  .slider-highlighted__btn {
    position: absolute;
    top: 0;
    left: 0;
  }

  .slider-expertise__body .swiper-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }

  .blog__img {
    max-width: 500px;
  }
}

@media (max-width: 991.98px) and (max-width: 479.98px) {
  .menu__body::before {
    height: 53px;
  }
}

@media (max-width: 991.98px) and (max-width: 1372px) {
  .slider-expertise__body .swiper-wrapper {
    grid-column-gap: calc(20px + 20 * ((100vw - 320px) / 1052));
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    max-width: 80px;
  }

  .footer__logo {
    max-width: 80px;
  }

  .footer__logo img {
    max-width: 100%;
  }

  .footer__menu {
    margin-bottom: -20px;
  }

  .menu-footer {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .subscribe__text {
    display: none;
  }

  .slider-expertise__body .swiper-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

@media (max-width: 767.98px) and (max-width: 1372px) {
  .slider-expertise__body .swiper-wrapper {
    grid-row-gap: calc(20px + 20 * ((100vw - 320px) / 1052));
  }
}

@media (max-width: 479.98px) {
  .section-header__btn {
    display: none;
  }

  .header {
    min-height: 5px;
  }

  .header__body {
    min-height: 53px;
  }

  .header__login {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .header__lang {
    margin-bottom: 20px;
  }

  .menu__link {
    font-size: 25px;
  }

  .menu-footer__column {
    margin-bottom: 10px;
  }

  .bottom-footer__copy span {
    display: none;
  }

  .page {
    padding: 53px 0 0 0;
  }

  .hero__img {
    margin: 0 -15px;
  }

  .content-hero__text {
    display: none;
  }

  .highlighted__container {
    margin: 0 -16px;
  }

  .contact {
    border-top: 1px solid #000;
  }

  .nav-contact {
    display: none;
  }
}

@media (min-width: 991.98px) and (max-width: 1372px) {
  .menu__item:not(:last-child) {
    margin-right: calc(10px + 20 * ((100vw - 320px) / 1052));
  }

  .footer__wrapper {
    grid-column-gap: calc(8px + 20 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__content {
    padding-right: calc(10px + 50 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__btn {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1052));
  }

  .slider-expertise__inner {
    grid-column-gap: calc(30px + 70 * ((100vw - 320px) / 1052));
  }

  .blog__content {
    padding-right: calc(1px + 99 * ((100vw - 320px) / 1052));
  }
}

@media (min-width: 1384px) and (max-width: 1372px) {
  .footer__wrapper {
    grid-column-gap: calc(1px + 95 * ((100vw - 320px) / 1052));
  }

  .footer__content-column {
    padding-right: calc(20px + 60 * ((100vw - 320px) / 1052));
  }

  .menu-footer {
    padding-right: calc(10px + 10 * ((100vw - 320px) / 1052));
  }

  .slider-highlighted__content {
    padding-right: calc(1px + 299 * ((100vw - 320px) / 1052));
  }
}

@media (any-hover: hover) {
  .section-header__btn:hover {
    color: #fff;
    background-color: #1C68C0;
    border-color: #1C68C0;
  }

  .slider-arrow:hover {
    background-color: #fff;
    color: #1C68C0;
    border-color: #fff;
  }

  .header._scroll .header__wrapper:hover {
    background-color: #E5E5E5;
  }

  .header__login:hover {
    color: #0055B8;
  }

  .header__btn:hover {
    background-color: #0055B8;
  }

  .menu__item:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    pointer-events: auto;
  }

  .menu__item:hover .menu__link,
  .menu__item:hover .menu__arrow {
    color: #0055B8;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__sub-link:hover {
    text-decoration: underline;
  }

  .search-form__btn:hover {
    color: #0055B8;
  }

  .search-form__icon:hover {
    color: #fff;
    background-color: #0055B8;
  }

  .menu-footer__link:hover {
    color: #0055B8;
  }

  .contact-footer__title:hover {
    color: #0055B8;
  }

  .contact-footer__title:hover::before {
    color: #0055B8;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .phone__link:hover {
    color: #0055B8;
  }

  .regions__item:hover {
    color: #0055B8;
  }

  .regions__item:hover::before {
    color: #0055B8;
    -webkit-transform: rotate(-90deg) translate(0px, 10px);
        -ms-transform: rotate(-90deg) translate(0px, 10px);
            transform: rotate(-90deg) translate(0px, 10px);
  }

  .subscribe__btn:hover {
    background-color: #0055B8;
  }

  .menu-bottom__link:hover {
    color: #0055B8;
  }

  .social__link:hover {
    color: #0055B8;
  }

  .nav-hero__link:hover {
    color: #0055B8;
  }

  .nav-hero__link:hover::after {
    opacity: 0;
    visibility: hidden;
  }

  .slider-experience__img img {
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
  }

  .slider-experience__img:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

  .slider-experience__link:hover::before {
    -webkit-transform: translate(10px, 0px);
        -ms-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  }

  .slider-highlighted__btn:hover {
    text-decoration: underline;
  }

  .slider-expertise__btn:hover,
  .content-contact__btn:hover {
    background-color: #000;
  }

  .blog__title:hover {
    color: #0055B8;
  }

  .docs__link:hover {
    color: #1C68C0;
  }

  .events__item:hover {
    color: #0055B8;
  }

  .events__item:hover::before {
    color: #0055B8;
    background-color: #fff;
  }

  .nav-contact__link:hover {
    color: #0055B8;
  }

  .nav-contact__link:hover::after {
    opacity: 0;
    visibility: hidden;
  }
}